<h1><strong>Описание основных механик</strong></h1>
<h2><strong>ОС (Очки сознания)</strong></h2>
<p>Очки сознания - характеристика общего состояния ващего персонажа, а также показатель возможности контролировать вашего персонажа. Любое внешнее воздействие на вашего персонажа влияет на ваши ОС. Примером может быть психическое воздействие, физическое воздействие. Как только ваши ОС опускаются до 0 ваш персонаж больше не может себя контролировать и в зависимости от последнего воздействия может потерять сознание, сойти с ума или впасть в кому. В таком состояние вы не можете управлять вашим персонажем. Если в течение недели не помочь вылечить ваше состояние ваш персонаж окончательно погружается в критическое состояние, а затем следует смерть.</p>
<h2><strong>Критические атаки и повреждения</strong></h2>
<p>Критическая атака - атака, которая нанесла урон больше половины ОС противника. Критическая атака наносит критические повреждения конечностям. Критические повреждения в зависимости от типа атаки имеют различные эффекты.&nbsp;</p>
<p>Таблица критических повреждений</p>
<table>
    <tbody>
        <tr>
            <td width="70">
            <p>Конечность</p>
            </td>
            <td width="398">
            <p>Физическое повреждение</p>
            </td>
            <td width="197">
            <p>Психическое повреждение</p>
            </td>
        </tr>
        <tr>
            <td width="70">
            <p>Ноги</p>
            </td>
            <td width="398">
            <p>Конечность отрывается. Максимум ОС снижается на четверть. Скорость перемещения снижается в два раза. В свой ход можно использовать только основное действие.</p>
            </td>
            <td width="197">
            <p>Ноги больше не слушаются. Вы не можете передвигаться весь день.</p>
            </td>
        </tr>
        <tr>
            <td width="70">
            <p>Руки</p>
            </td>
            <td width="398">
            <p>Конечность отрывается. Максимум ОС снижается на четверть. Скорость перемещения снижается в два раза. В свой ход можно использовать только основное действие.</p>
            </td>
            <td width="197">
            <p>Мондраж в руках. Вы не можете совершать действия руками.</p>
            </td>
        </tr>
        <tr>
            <td width="70">
            <p>Голова</p>
            </td>
            <td width="398">
            <p>Моментальная смерть персонажа.</p>
            </td>
            <td width="197">
            <p>Персонаж впадает в кому.</p>
            </td>
        </tr>
    </tbody>
</table>
<p><strong>Протезы и замена конечностей</strong></p>
<p>На просторах Смертных Земель оторванные конечности - ежедневная рутина. Человек, у которого имеются все конечности или счастливчик, или Зеленый, который мира не видовал. Оторванные конечности можно заменить различными протезами. У каждого народа есть свой тип протезов, со своими плюсами и минусами.</p>
<p>После потери конечности, первым делом необходимо добраться до ближайшего города в котором есть медблок. Чтобы добраться до города и не помереть в пути от потери крови, желательно заварить руку чем нибудь или воспользоваться специальным артефактом.</p>
<p>Добравшись до медблока вам на выбор будет доступно множество различных протезов от дорогих до самых дешевых. В зависимости от народа ваш протез может быть боевой и неуклюжий, или же неотличимый от настоящей конечности.</p>
<p>Список возможных протезов и их функционал (подробное описание протезов найдешь в статье Протезы)</p>
<table>
    <tbody>
        <tr>
            <td width="25%">
            <p><strong>Народ</strong></p>
            </td>
            <td width="25%">
            <p><strong>Тип конечности</strong></p>
            </td>
            <td width="25%">
            <p><strong>Функционал</strong></p>
            </td>
            <td width="25%">
            <p><strong>Стоимость</strong></p>
            </td>
        </tr>
        <tr>
            <td width="25%">
            <p>Азьяны</p>
            </td>
            <td width="25%">
            <p>Руки, ноги, голова</p>
            </td>
            <td width="25%">
            <p>Биологический протез, превосходящий обычную конечность</p>
            </td>
            <td width="25%">
            <p>Дорого</p>
            </td>
        </tr>
        <tr>
            <td width="25%">
            <p>Сканы</p>
            </td>
            <td width="25%">
            <p>Руки, ноги</p>
            </td>
            <td width="25%">
            <p>Механизированный протез, увеличивающий силу носителя, но уменьшая поворотливость.</p>
            </td>
            <td width="25%">
            <p>Позволимо</p>
            </td>
        </tr>
        <tr>
            <td width="25%">
            <p>Возрождение</p>
            </td>
            <td width="25%">
            <p>Руки, ноги</p>
            </td>
            <td width="25%">
            <p>Колхозный протез, сделанный из всего, что попадется на свалке. Может иметь как огромную силу, так и огромные недостатки.</p>
            </td>
            <td width="25%">
            <p>Дешево</p>
            </td>
        </tr>
        <tr>
            <td width="25%">
            <p>Обьединение</p>
            </td>
            <td width="25%">
            <p>Руки, ноги, голова, тело, органы</p>
            </td>
            <td width="25%">
            <p>Выращенный в теплице протез. Делается на заказ и является копией вашей настоящей конечности, которая врастает в место повреждения. При повторной потери конечности можно быстро поставить заново. Дорого и не всегда полезно.</p>
            </td>
            <td width="25%">
            <p>Очень дорого</p>
            </td>
        </tr>
    </tbody>
</table>
<h2><strong>СТАТы, круги СТАТов и прокачка СТАТов</strong></h2>
<p>СТАТы - характеристики персонажа, отвечающие за качество взаимодействия вашего персонажа с миром вокруг него в различных областях. Всего СТАТов четыре - Телосложение (ТЕЛО), Разум (РАЗМ), Проворство (ПРВР), ПСИ.</p>
<p>Каждый СТАТ имеет уровень от 0 до 12. За каждый уровень любого СТАТа увеличивается бонус для проверки этого СТАТа на количество равное этому уровню.</p>
<p>Пример: При уровне ТЕЛО = 5, бонусом проверки этого СТАТа будет +5.</p>
<p>Каждый из статов также дает различные бонусы к характеристикам персонажа.</p>
<table>
    <tbody>
        <tr style="height: 18px;">
            <td style="width: 32.8947%; height: 18px;"><strong>СТАТ</strong></td>
            <td style="width: 67.1053%; height: 18px;"><strong>Бонус за уровень</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 32.8947%; height: 18px;">Телосложение (ТЕЛО)</td>
            <td style="width: 67.1053%; height: 18px;">+8 Очков Сознания (ОС), +8 Очков Веса (ОВ)</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 32.8947%; height: 18px;">Разум (РАЗМ)</td>
            <td style="width: 67.1053%; height: 18px;">+4 Очков Сознания (ОС)</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 32.8947%; height: 18px;">Проворство (ПРВР)</td>
            <td style="width: 67.1053%; height: 18px;">+1 к инициативе, +1 м. в ход</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 32.8947%; height: 18px;">ПСИ</td>
            <td style="width: 67.1053%; height: 18px;">+6 Очков Сознания (ОС), +1 Карта в руке</td>
        </tr>
    </tbody>
</table>
<p>Каждый СТАТ имеет 12 пустых кругов-контейнеров, где каждый круг делится на четвертинки и имеет числовой бонус (4 круга +2, 4 круга +4, 2 круга +6, 1 круг +8 и 1 круг +10).</p>
<p>Эти круги используются почти во всех аспектах прокачки персонажа, а также для использования навыков.&nbsp;</p>
<p>Данные круги закрашиваются когда персонаж успешно выполняет проверку СТАТа. Если рельтат проверки СТАТа выше сложности на число равное числовому бонусу круга, то этот круг закрашивается.</p>
<p>Пример: Проверка Телосложения 5 уровня - Сложность 10. Игрок выбросил на кубе 7 + бонус СТАТа 5 = 12. Результат проверки выше сложности на 2, а значит Игрок может закрасить круг +2 СТАТа ТЕЛО.</p>
<p>Круги с большим бонусом нельзя конвертировать в круге низшего бонуса.</p>
<p>Уровни СТАТов повышаются в определенных местах внутри городов.</p>
<p>Для повышения уровня СТАТа на 1 необходимо потратить количество кругов этого СТАТа равное уровню, на который переходит этот СТАТ.</p>
<p>Пример: Для прокачки СТАТа ТЕЛО 5 на 6 уровень необходимо потратить 6 полностью закрашенных кругов. А для 7 уровня надо будет потратить уже 7 кругов.</p>
<h2>Профессии в мире пустошей</h2>
<p>Профессия - это то, чем занимается ваш персонаж в роли Обреченного. Каждая из профессий имеет числовой бонус для проверок связанных с этой профессией, а также набор пассивных навыков, которые можно приобрести при достижение определенного бонуса.</p>
<p>Чтобы получить профессию можно выбрать определенное сочетание народа и бога, в которого верит ваш персонаж или при достижении 6 и 12 уровня соотвествующего СТАТа. Всего ваш персонаж может иметь 4 профессии. Профессии, которыми владеет ваш персонаж обозначаются закрашшеным кругом на чарнике персонажа.</p>
<p>Краткое описание профессий и для каких проверок они могут быть использованы.</p>
<table>
    <tbody>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;"><strong>Профессия</strong></td>
            <td style="width: 72.4105%; height: 18px; text-align: center;"><strong>Для чего используется</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Мусорщик (ТЕЛО)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Поднимание тяжестей, поиск предметов</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Защитник (ТЕЛО)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Зашита союзников, проверки обороны</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Строитель (ТЕЛО)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Постройка сооружений, поиск уязвимых мест построек</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Ученый (РАЗМ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Изобретения, обращение с технологиями</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Техник (РАЗМ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Починка, модернизация</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Торговец (РАЗМ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Торговля, общение</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Стрелок (ПРОВ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Стрельба, обращение с пушками</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Курьер (ПРОВ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Путешествия, знание местности</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Вор (ПРОВ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Кража, скрытное передвижение</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Манипулятор (ПСИ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Взаимодействие с энергией, обезвреживание ПСИ ловушек</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Маг (ПСИ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Защита от ПСИ, поиск ПСИ</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 27.5895%; height: 18px; text-align: center;">Ячейка (ПСИ)</td>
            <td style="width: 72.4105%; height: 18px; text-align: center;">Ощущение ПСИ, хранение ПСИ</td>
        </tr>
    </tbody>
</table>
<p>Бонус профессии повышается по такому же принципу как уровень СТАТа.</p>
<h2>Очки объёма и веса</h2>
<p>Для успешного выживания на пустошах вашему персонажу необходимо носить с собой общирное количество предметов первой необходимости. На руках все это не унести, поэтому на помощь приходят рюкзаки и разгрузки.</p>
<p>У каждого персонажа есть определенное количество Очков Веса (ОВ). Это значение равно 24 + 8 за каждый уровень Телосложения. Базово ваш персонаж может носить с собой две вещи в каждой из рук, также на помощь приходят рюкзаки и разгрузки.</p>
<p>Рюкзаки и разгрузки имеют определенное количество Очков Обьема, которое можно в них поместить. Выше этого числа вещи засунуть не получится.</p>
<p>Рюкзаки - большие сумки, в которые помещается огромное количество барахла, но доставать из него вещи в бою будет занимать целое основное действие, не считая того, что его еще потом нужно будет использовать.&nbsp;</p>
<p>Разгрузки - различное снаряжение, которое имеет огроаниченное количество слотов под предметы с ограничением по Обьему. Ценность разгрузки в том, что вещт из неё достаются бонусным действием.</p>
<h2>Скорость перемещение и путешествия</h2>
<p>Каждый персонаж имеет скорость передвижения в ход. Она равняется 12 метрам + 1 метр за каждый уровень Проворности.</p>
<p>Во время боя ваш персонаж может спокойно передвигаться в пределах этого расстояние, не тратив никаких из действий.</p>
<p>Во время путеществий по глобальной карте, которая представляет собой поле из клеточек, где каждая клеточка - регион в диаметре примерно 100 км. Со стандартной скоростью 12 метров персонаж может преодолеть клетку за день путешествия. Скорость путешествия группы высчитывается из самого низкого показателя передвижения.</p>
<h2>Навыки и класс</h2>
<p>При достижение 4 уровня любого СТАТа, персонаж может получить навык этого СТАТа и записать его в поле навыков.</p>
<p>Навыки не дают сильного преимущества и в основном являются пассивным увеличением характеристик. Персонаж может заменить навык на другой при достижение такого же уровня любым другим СТАТом.</p>
<p>Класс - комбинация двух профессий. При достижения 4 уровня двух СТАТов, от которых зависят профессии класса, персонаж может получить первый навык. Навыки класса в основном являются основным источником силы вашего персонажа и являются активными. Чтобы использовать активный навык класса необходимо потратить различное количество кругов СТАТов.</p>
<h2>Проверки СТАТов</h2>
<p>Если персонажу необходимо совершить проверку какого либо СТАТа для успешного выполнения действия, игроку необходимо бросить кубик d12 и добавить к результату броска бонус уровня СТАТа.</p>
<p>Также, если ситуация подходит для применения профессии игрок может дополнительно добавить бонус профессии.</p>
<p>Дополнительно можно воспользоваться кругами СТАТов. Игрок может потратить полностью закрашенный круг подходящего СТАТа для одноразового бонуса в зависимости от бонуса круга. Использовав таким образом круг, ваш персонаж не сможет получить круг за успешное выполнение проверки.</p>
<p>Если в вашей команде есть союзники, которые могут вам помочь, то они могут воспользоваться своими кругами для дополнительной помощи вам в прохождение проверки. Как и в предыдущем случае таким образом нельзя получить круг за успешную проверку.</p>
<h2>Проверка торговли</h2>
<p>Когда дело дойдет до торговли ваш персонаж может попробовать поторговаться насчет цены или чего либо другого. Для этого персонаж и торговец бросают два куба d12 и куб Разума, который определяется по таблице Системы 12.</p>
<p>Такая проверка сравнивает значения двух этих кубов. Всего может быть 3 результата данной проверки. Если ваши кубы ниже кубов торговца, то торговец вас нахлабучивает и может вскрутить цену. Если хотя бы один куб выше или равен куба торговца, то сделка успешная. Если оба ваших кубов выше или равны кубам торговцам, то это успех и вы можете понизить цену.</p>
<p>Круги Разума можно добавлять только к значение куба d12.</p>
<h2>Броня и ее применение</h2>
<p>Для защиты себя от урона желательно приобрести броню на каждую из частей тела. Всего есть 6 регионов защиты вашего тела - голова, левая и правая руки и ноги, а также тело.</p>
<p>Броня защищает ваши части тела от кубиков урона, а также в редких случаях от карт пси.</p>
<p>Каждый элемент брони имеет свой вес и обьем. Каждая броня имеет определенное количество кубов защиты.</p>
<p>Когда противник кидает кубы урона против вас вы можете вычесть подходящий куб из брони и проигнорировать этот куб. Также кубы работают по нарастающей, что означает что вы можете заблокировать куб d4 кубом защиты d6, но не наоборот. Если у вас нет подходящих кубов для защиты, то урон проходит напрямую в ОС.</p>
<p>Для починки брони необходима 1 еденица подходящего материала и проверка починки. У некоторых типов брони может быть увеличенная сложность проверки. Базовая сложность проверки 4 + (2 + модификатор сложности, за каждый куб, который необходимо восстановить). Повторная проверка потребует дополнительных материалов.</p>