<h1 style="text-align: center;"> Бои </h1>

<p>В данной главе описывается боевая система с противниками, а также все возможные базовые действия, которые можно совершить.</p>
<p>Подробное описание каждого из метода боя будет описано в&nbsp;<span class="wo fr-1 replaced" data-num="1">соответствующей </span>главе.</p>
<h2>Инициатива и очередность боя</h2>
<p>В Смертных Землях используется модернизированная классическая пошаговая боевая система.</p>
<p>Персонажи ходят по очереди, где очередь определяется инициативой. Инициатива пробрасывается при помощи проверки Проворности. Первым ходит персонаж с наибольшей инициативой</p>

<h2>Действия и передвижение</h2>

<p>В начале раунда каждый персонаж получает основное действие, бонусное действие, свободное действие и передвижение.</p>
<p>Основное действие и передвижение персонаж может применить только в свой ход.</p>
<p>Бонусное и свободное действие дается один раз на протяжение всего раунда. Эти действия можно применить в любой момент раунда вне зависимости от инициативы.</p>
<p>Основным действием можно заявить следующие действия:</p>
<p>- Провести атаку в ближнем бою</p>
<p>- Провести атаку в дальнем бою</p>
<p>- Кастовать воплощаемое заклинание ПСИ</p>
<p>- Использовать предмет из разгрузки или устройство в руках</p>
<p>Бонусное действие можно использовать для противодействия сильным атакам монстра или уклонения от прицельной атаки, а также для:</p>
<p>- Достать вещь из разгрузки</p>
<p>- Совершить любое контекстное действие не занимающее больше пары секунд</p>
<p>Свободное действие в большинстве случаев является контекстным и используется для переговоров или обдумывания. Заявляя такое действие можно пробросить проверку в зависимости от контекста.</p>
<p>Передвижение позволяет передвигаться по полю битвы на расстояние не больше 12м+ПРОВ. Заявляя такое действие ваш персонаж может занять укрытие, за которым, каждая часть тела которая не видна противнику дает модификатор +1 на сложность прицельного попадания.</p>
<p>Использование навыков в большинстве случаев использует бонусное действие или основное действие. Поэтому стоит хорошенько подумать прежде чем заявлять использование навыка, ведь после этого ваш персонаж может остаться беспомощен против атак противника.</p>

<h2>Пособие по ближнему бою</h2>

<p>В ближнем бою вы можете атаковать при приближении к противнику хотя бы на 5 метров.</p>
<p>Основным действием вы можете заявить быструю атаку, от которой противник не сможет уклониться, но весь урон пройдет в тело.</p>
<p>Также вы можете заявить прицельную атаку в конечность и тогда будет проведена проверка: D12 + Ваш показатель ТЕЛО против D12 + Показатель ПРОВ противника. При успешной проверки все ваши атаки попадут в эту часть тела. Также вы можете заявить проверки всех атак в различные части тела, но за такие проверки вы получите круг ТЕЛа, только за первую успешную проверку.</p>
<p>В зависимости от длины вашего орудия может разниться дальность атаки, а также его прочность. Количество атак и его основная прочность определяется атакующей частью вашего орудия.</p>
<p>Каждый раз когда на кубиках крона выпадает 1 ваше орудие теряет 1 прочность. При достижении прочности 0 ваше орудие ломается и вы не сможете им эффективно пользоваться. Не эффективным орудием можно нанести только один кубик урона и только прицельным ударом с модификатором -2.</p>
<p>Починка вашего орудия требует проверки починки и материала для починки. Сложность починки определяется следующим образом: базовая сложность 6 + модификатор починки орудия + (2 * количество атак орудия). Например: Орудие с количеством атак 2 и модификатором починки +2. Его починка будет иметь сложность 6+2+(2*2) = 12.</p>
<h2>Пособие по дальнему бою</h2>
<p>В дальнем бою есть два фактора, которые влияют на вашу эффективность: ваша пушка и патрон которым она стреляет.</p>
<p>Ваша пушка опредяет скорострельность, эффективную дальность, скорость стрельбы, а также прочность пушки.</p>
<p>Патрон определяет количество кубиков урона. Патрон делится на две части - запас энергии в гильзе и пробивную пулю. Гильза определяет первый кубик урона, а также модификатор пули. Пуля определяет второй кубик урона, а также модифицируется гильзой и самой пушкой.</p>
<p>Основным действием можно заявить стрельбу в противника. Если вы находитесь на эффективном расстояние стрельбы ваши выстрелы без проверок попадают в тело противника. Если вы не находитесь на эффективном расстояние или хотите заявить прицельную стрельбу, то вы проходите проверку d12 + Бонус ПРОВ + Бонус Стрелка против сложности определяемую по формуле: Базовая 6 + 3 за каждые 100 м до цели + модификаторы. Если вы прошли проверку находясь на не эффективном расстояние то ваши выстрелы попадут в тело. Также вы можете заявить прицельные проверки всех выстрелов в различные части тела, но за такие проверки вы получите круг ПРОВ-и, только за первую успешную проверку.</p>
<p>У большинства пушек имеются проблемы во время стрельбы. Если на хотя бы на одном кубике атаки выпала 1, то ваше орудие на ваш выбор теряет 1 прочность и вы продолжаете стрельбу или вы тратите основное действие на починку проблемы. Эти условия могут быть модифицированы установкой различных приспособлений на вашу пушку или стрельбой более дорогими патронами. Со всей этой информацией ознакомьтесь в соотвествующей статье.</p>
<p>Когда патроны кончаются в магазине или барабане, вам необходимо заявить перезарядку для продолжения стрельбы. В основном перезарядка занимает бонусное действие при перезарядки с разгрузки или основное с рюкзака.</p>
<p>Если ваше оружие теряет всю прочность, то его необходимо починить. Чинить оружие намного сложнее чем оружие ближнего боя. Для починки вам необходим донор запчастей или мастер, который сможет вам починить запчасти. После нахождение запчастей, механик должен пробросить проверку починки со сложностью 8 + 3 за каждую атаку в ход. При успешной проверке ваше оружие восстанавливает половину прочности. При провале ваше оружие теряет 1d4 максимальной прочности и нуждается в повторном поиске запчастей и починке.</p>

<h2>Пособие по боевым устройствам</h2>

<p>Боевые устройства представляют собой устройства, которые наносят урон энергией расходников, где урон определяется навыком пользования устройством (кубик Разума).</p>
<p>Боевые устройства могут быть защитными и атакующими, а также стационарными или переносными.</p>
<p>Если устройство занимает больше 6 объема оно считается стационарным (если не сказано обратное) и для его использование необходимо потратить бонусное действие на его установку или на переноску.</p>
<p>Если устройство атакующее, то заявляя основное действие вы тратите заряды устройства и выполняете эффект указаный в свойствах устройства.</p>
<p>Если устройство защитное, то оно требует постоянного поддержания контроля. Заявив основное действие вы тратите заряд и соверщаете эффект устройства. Каждый последующий ход для поддержания эффекта вам необходимо тратить бонусное действие. При получение урона пробрось d12 + РАЗУМ, где сложность количество урона которое вы получили. При получение урона равное 0 вы не должгы проходить проверку.</p>
<p>Для замены расходника используется бонусное действие для разгрузок и основное для рюкзаков. Если устройство аккумуляторное, то замена аккумулятора занимает два хода.</p>

<h2>Пособие по применению ПСИ</h2>

<p>Каждый обладатель ПСИ имеет колоду карт, где каждая масть отвечает за конкретный элемент. Когда персонаж получает первый уровень ПСИ он может выбрать 1 из 6 элементов и записать его в свой чарник. Таким образом его колода будет состоять из карт номиналом от 2 до 14. Все действия связанные с прокачкой, получения элементов и замены колоды проводятся в специальных центрах ПСИ-подготовки в крупных городах. На 4, 8 и 12 уровнях ПСИ маг может получить новый элемент и дополнительные 12 карт в колоде.</p>
<p>Во время боя ПСИ маг может набрать руку из количества карт равное его уровню ПСИ. Каждый раунд ПСИ маг добирает руку. Когда карты в руке и колоде кончаются ПСИ маг может замешать колоду заново использовав специальные препараты или отдохнув минимум 4 часа.</p>
<p>В бою Маг может использовать воплощенные и не воплощенные заклятия потратив основное действие.</p>
<p>Не воплощенные заклятие требуют лишь карт определенной масти и сила кастуемого заклятия зависит лишь от количества карт, потраченных на каст. В небоевое время не воплощенные заклятия могут менять свою форму в зависимости от пожелания мага и разрешения ГМ-а.</p>
<p>Воплощаемые заклятия требуют конкретную комбинацию карт для создания заклятия, которое имеет сильный эффект. Вне боя такие заклятие не меняют свою форму, но могут создавать различные эффекты в зависимости от ситуации. Для изменения формы такого заклятия может потребоваться проверка профессии манипулятора.</p>
<p>Количество заклятий, которое может запомнить маг зависит от его Уровня ПСИ и бонуса Ячейки: количество заклятий = Уровень ПСИ/3 + Бонус профессии Ячейка.</p>
<p>Каждый маг может также иметь в колоде до двух джокеров в колоде, которые появляются при получении различных навыков. Джокеры имеют различные сильные эффекты и используются бонусным действием. Всего может быть два джокера в колоде - красный и черный.</p>