<meta charset="utf-8">
<title> {{title}} </title>
<meta name="theme-color" content="#ff0000">
<meta property="og:type" content="website">
<meta property="vk:image" content="{{root-path}}/resources/images/img1.jpg">
<meta property="og:image" content="{{root-path}}/resources/images/img1.jpg">
<meta property="og:image:height" content="1000">
<meta property="og:image:width" content="1000">
<meta property="og:image" content="{{root-path}}/resources/images/img2.jpg">
<meta property="og:image:height" content="300">
<meta property="og:image:width" content="300">
<meta property="og:site_name" content="DEADLY LANDS">
<meta property="og:locale" content="ru_RU">

<link rel="apple-touch-icon" sizes="180x180" href="{{root-path}}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{root-path}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{root-path}}/favicon-16x16.png">
<link rel="manifest" href="{{root-path}}/site.webmanifest">
<link rel="mask-icon" href="{{root-path}}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="DEADLY LANDS">
<meta name="application-name" content="DEADLY LANDS">
<meta name="msapplication-TileColor" content="#ffded5">

<meta name="description" content="DEADLY LANDS {{title}}">
<meta property="og:title" content="{{title}}">
<meta property="og:url" content="{{url}}">
<link rel="stylesheet" href="{{root-path}}/styles/main-style.css">