<nav class="navbar close">
    <header>
        <div class="nav-block toggle">
            <img class="nav-icon" src="{{root-path}}/resources/images/img3.jpg">
            <span class="nav-text"> DEADLY LANDS </span>
        </div>
    </header>
    <div class="menu-bar">
        <a href="{{root-path}}/modules/updates/" class="nav-block">
            <img class="nav-icon" src="{{root-path}}/resources/icons/news.svg">
            <span class="nav-text"> ОБНОВЛЕНИЯ </span>
        </a>
        <a href="{{root-path}}/modules/rulebooks/" class="nav-block">
            <img class="nav-icon" src="{{root-path}}/resources/icons/book.svg">
            <span class="nav-text"> РУЛБУКИ </span>
        </a>
        <a href="{{root-path}}/modules/generators/" class="nav-block">
            <img class="nav-icon" src="{{root-path}}/resources/icons/settings.svg">
            <span class="nav-text"> ГЕНЕРАТОРЫ </span>
        </a> 
        <a href="{{root-path}}/modules/sources/" class="nav-block">
            <img class="nav-icon" src="{{root-path}}/resources/icons/download.svg">
            <span class="nav-text"> ИСТОЧНИКИ </span>
        </a>
        <a href="{{root-path}}/modules/faq/" class="nav-block">
            <img class="nav-icon" src="{{root-path}}/resources/icons/faq.svg">
            <span class="nav-text"> FAQ </span>
        </a>     
    </div>
    <div class="bottom-bar">
        <!--
            <li class="">
        <a href="#">
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text">Logout</span>
        </a>
        </li>
        <li class="mode">
        <div class="sun-moon">
            <i class="bx bx-moon icon moon"></i>
            <i class="bx bx-sun icon sun"></i>
        </div>
        <span class="mode-text text">Dark mode</span>
        <div class="toggle-switch">
            <span class="switch"></span>
        </div>
        </li>
        -->        
    </div>
</nav>
<script>
    const body = document.querySelector('body');
    const navbar = body.querySelector(".navbar");
    const toggle = body.querySelector(".toggle");

    toggle.addEventListener("click", ()=>{navbar.classList.toggle("close");})
</script>