:root {
	--page-bg-dark-color: #000;
	--block-bg-dark-color: rgba(28, 28, 28, 0.95);
	--element-bg-dark-color: rgba(50, 50, 50, 0.95);
	--text-dark-color: #dcdcdc;
	--block-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
	--bg-image: url(../resources/images/bg1.jpg) 0 0 / cover;
	--navbar-height: 40px;
	--navbar-width: 200px;
	--border-radius: 10px;
	animation-name: bg-anim;
	animation-duration: 100s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);	
}

@keyframes bg-anim {
    0% 
	{
        --bg-image: url(../resources/images/bg1.jpg);
    }
    50% 
	{
        --bg-image: url(../resources/images/bg2.jpg);
    }
}

body {
	font-family: 'Neucha', "Arial";
	font-size: 18px;
	letter-spacing: 1px;
	background-image: var(--bg-image);
	background-image: url(../resources/images/bg2.jpg);
	transition: background-image 3s;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: var(--page-bg-dark-color);
	color: var(--text-dark-color);
	display: flex;
    margin: 0;
}

@media screen and (max-width: 849px) {
    body {
        flex-direction: column;
    }
}
@media screen and (min-width: 850px) {
    body {
        flex-direction: row;
    }
}

.navbar {
	box-sizing: border-box;
    z-index: 100;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 5px;
}

@media screen and (max-width: 849px) {
    .navbar-outer {
        width: 100%;
    }
    
    .navbar {
        position: fixed;
        width: inherit;
		height: fit-content;
		border-radius: 0 0 10px 10px;
    }

	.navbar.close {
        height: 50px;
		border-radius: 0 0 10px 10px;
	}
}

@media screen and (min-width: 850px) {
    .navbar-outer {
        width: 200px;
    }
    
    .navbar {
        position: fixed;
        width: inherit;
        height: -webkit-fill-available;
    }
}

.nav-block
{
	width: -webkit-fill-available;
	height: auto;
	border-radius: var(--border-radius);
	margin-bottom: 10px;
	display: inline-block;
	text-decoration: none;
	color: var(--text-dark-color);
	cursor: pointer;
}

@media all and (max-width: 849px)
{
	.nav-block
	{		
		margin-bottom: 0px;
	}
}

@media all and (min-width: 850px)
{
	.nav-block
	{		
		margin-bottom: 10px;
	}

	.nav-block:hover
	{
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.1);
	}
}

.nav-block .nav-icon
{
	width: 30px;
	height: 30px;
	margin: 5px;
	vertical-align: middle;
    border-radius: calc(var(--border-radius) / 2);
}

.nav-block .nav-text
{
	margin: 5px;
	vertical-align: middle;
	text-align: left;
}

@media all and (max-width: 849px)
{
	.navbar.close .menu-bar
	{
		display:none
	}
}

@media all and (min-width: 850px)
{
	.navbar.close .nav-block .nav-text
	{
		display:none
	}
}

.content-inner {
    display: flex;
}

@media screen and (max-width: 849px) {
    .content-outer {    
        width: 100%;
        margin: 60px 0 0 0;
    }
    
    .content-inner {
        flex-direction: column;
    }
}
@media screen and (min-width: 850px) {
    .content-outer {    
        width: calc(100vw - 200px);
        margin: 10px;
    }
    
    .content-inner {
        flex-direction: row;
        justify-content: center;
    }
}

.subbar-outer {
    width: 200px;
    z-index: 50;
}

.subbar-inner {    
	box-sizing: border-box;
    width: inherit;
    height: fit-content;
}

@media screen and (max-width: 849px) {
    .subbar-outer {
        width: -webkit-fill-available;
        order: -1;
        margin-bottom: 10px;
    }
    
    .subbar-inner {
        position: relative;
    }
}

@media screen and (min-width: 850px) {
    .subbar-outer {
        width: 200px;
        margin-left: 10px;
    }
    
    .subbar-inner {    
        position: fixed;
    }
}

@media screen and (min-width: 850px) {
    .content-container {
        width: 400px;
    }
}
@media screen and (min-width: 1050px) {
    .content-container {
        width: 600px;
    }
}
@media screen and (min-width: 1250px) {
    .content-container {
        width: 800px;
    }
}
@media screen and (min-width: 1450px) {
    .content-container {
        width: 1000px;
    }
}

a:active, a:hover, a {
  	text-decoration: underline;
  	color: var(--text-dark-color);
}

a:active.block-element, a:hover.block-element, a.block-element, a:active.nav-block, a:hover.nav-block, a.nav-block
{
  	text-decoration: none;
  	color: var(--text-dark-color);
}

.block-element {
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
	width: -webkit-fill-available;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.block-title {
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
}

.block-text {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: justify;
}

.block-element-image {
	overflow: hidden;
	background: var(--block-bg-dark-color);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
	border-radius: calc(var(--border-radius) / 2);
	-webkit-border-radius: calc(var(--border-radius) / 2);
}

.image-element {
	max-width: 100%;
	height: auto;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #f86466;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width:100%;
	border-collapse: separate;
	border-spacing: 0;
}
  
td {
	word-break: break-word;
	border-style: none solid solid none;
	border-width: 1px;
	padding: 5px;
}

tr:first-child td:first-child { border-top-left-radius: 5px; }
tr:first-child td:last-child { border-top-right-radius: 5px; }

tr:last-child td:first-child { border-bottom-left-radius: 5px; }
tr:last-child td:last-child { border-bottom-right-radius: 5px; }

tr:first-child td { border-top-style: solid; }
tr td:first-child { border-left-style: solid; }
